/* ######### CSS for Shade Tabs. Remove if not using ######### */

div.tabcontent {
	min-height:220px;
    border: 1px solid #c2dbd7;
    float: left;
    width:98%;
	background:url(../images/tab_cont_bg.jpg) repeat-x left top;
}

.shadetabs2{
padding: 3px 0 0px;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font:bold 11px Arial, Helvetica, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
color:#000;
float:left;
width:100%;
}

.shadetabs2 li{
	display:inline;
	margin:0;
	padding:0;
	float:left;
}

.shadetabs2 li a{
	float:left;
	height:35px;
	padding:10px 10px 0 10px;
	margin-right:7px;
	line-height:23px;
	text-decoration:none;
	background:url(../images/tabNonSelectedBG.gif) repeat-x left top;
	border-top:1px solid #e9e9e9;	
	border-right:1px solid #e9e9e9;	
	border-left:1px solid #e9e9e9;	
	font-size:13px;
	text-align:center;
	color:#000;
	cursor:pointer;
	display:inline;
}



.shadetabs2 li a:hover{
font-weight:bold;
color: #2b5679;
background:url(../images/tabBG.gif) repeat-x left top;	
border-top:1px solid #c3ddda;
border-right:1px solid #c3ddda;
border-left:1px solid #c3ddda;
}

.shadetabs2 li a.selected{ /*selected main tab style */
background:url(../images/tabBG.gif) repeat-x left top;
color:#2b5679;

}

.searchchart{
float:left;
width:100%;
}
@media print {
.tabcontent {
display:block !important;
}
}
.alltab{
width:100%;float:left;
}
/****
